<% @title = "About" %>
<% @subtitle = "what's the point?" %>

<p>Welcome to Herocutter.  The goal of this site is to provide a central location to find heroku plugins, make it easy to share new plugins, and help <a href="http://www.heroku.com">Heroku</a> evolve/improve their plugin system.</p>

<p><a href="http://hone.heroku.com">Terence Lee</a> started the project on January 12, 2010.  There has been a lot of help and feedback from <a href="http://daviddollar.org/">David Dollar</a>, <a href="http://www.twitter.com/ped">Pedro Belo</a>, <a href="http://www.lenary.cookies.uk/">Sam Elliott</a>, <a href="http://technicalpickles.com/">Josh Nichols</a>, <a href="http://www.twitter.com/jotto">Jonathan Otto</a>, <a href="http://www.twitter.com/bpot">Bob Potter</a>, and many others.  A lot of code and insight has been borrowed from <a href="http://www.gemcutter.org">Gemcutter</a>.  Thanks to <a href="http://marshmalloo.com/">Ri Liu</a> for making the logo.</p>

<p>The <a href="http://www.github.com/hone/herocutter">code</a> is hosted over at <a href="http://www.github.com">GitHub</a>.  Please feel free to fork and send pull requests.  All this work is currently licensed under <a href="http://www.gnu.org/licenses/gpl.html">GPLv3</a>.</p>
